{% extends "base.html" %} {% import "bootstrap/wtf.html" as wtf%}
{% import 'macros.html' as macro %}
{% block styles%} {{super()}}
<link rel="stylesheet" href="../static/css/image.css">
{% endblock%}
{% block content %}
<div class="container">
    <div class="row">
         <div class="col-md-2">
            <h4>
                {% if post.user.image %}
                <img src="{{url_for('static',filename = post.user.image)}}" alt="" class="img-circle"> {% else %}
                <img src="{{url_for('static',filename = 'photos/avatar.png')}}" alt="" class="img-circle"> {% endif %}
                <br> <br>
                <a href="/user/{{post.user.username}}&{{post.user.id}}">{{post.user.username|capitalize}}</a>
            </h4>
         </div>
         <div class="col-md-5">
            <p>{{post.post}}</p>
            <div class="row" >
                    <div class="col-md-2" >

            <ul class="list-inline">
                    <li class="list-inline-item"><a class="btn btn-primary" href="{{url_for('main.like',id=post.id)}}"><i class="fa fa-thumbs-up fa-2x"></i></a></li>
                    <li class="list-inline-item">{{likes|length}}</li>
                </ul>
                    </div>
                <div class="col-md-2" >

                <ul class="list-inline">
                    <li class="list-inline-item"><a class="btn btn-warning" href="{{url_for('main.dislike',id=post.id)}}"><i class="fa fa-thumbs-down fa-2x"></i> </a></li>
                    <li class="list-inline-item">{{dislikes|length}}</li>
                </ul>
                </div>
            </div>
            <div class="row comment-row">
                    <div class="comment-card col-sm-4">
                        <h3>Leave a Comment</h3>
                        {{wtf.quick_form(form)}}
                    </div>
                    </div>
        </div>
        <div class="col-md-4">
            {{macro.displayComments(comments)}}
        </div>
        </div>
    
</div>
    <style>
    .img-circle{
    width: 80px;
    height: 80px;
     }
    </style>

    {% endblock%}
