{% extends "base.html" %} {% import "bootstrap/wtf.html" as wtf%}
{% import 'macros.html' as macro %}
{% block styles%} {{super()}}
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 comments">
            <h4>
                {% if post.user.image %}
                <img src="{{url_for('static',filename = post.user.image)}}" alt="" class="img-thumbnail"> {% else %}
                <img src="{{url_for('static',filename = 'photos/avatar.png')}}" alt="" class="img-thumbnail"> {% endif %}
                <a href="/user/{{post.user.username}}&{{post.user.id}}">{{post.user.username|capitalize}}</a>
            </h4>

            <h3><em>By {{post.user.username}}</em></h3>
            <div>
                <p>{{post.content}}</p>
            </div>

            

        </div>
        <div class="row comment-row">
            <div class="comment-card col-sm-4">
                <h3>Leave a Comment</h3>
                {{wtf.quick_form(form)}}
            </div>
            {{macro.displayComments(comments)}}

        </div>

    </div>
    {% endblock%}

